<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @passenger.name %></h1>
    <p>
        You have successfully booked your flight.
    </p>
    <p>
      To confirm your booking, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for flying with top_flight_booker and have a great day!</p>
  </body>
</html>