/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* BASIC RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: skyblue;
  width: 40%;
  margin: auto;
}

header {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  rotate: -12deg;
}

nav a {
  color: darkslategrey;
}

nav a:hover {
  color: black;
  text-shadow: 2px 2px 2px gray;
}

nav a::after {
  content: "✈️";
  padding-left: 0.5rem;
  display: inline-block;
}