// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
  display: grid;
}
select {
  padding: 1rem .6rem;
  margin: 1rem 2rem;
  background-color: #eee;
  border: 0px;
  border-radius: 5px;
  font-size: 1.25em;
}

input[type=submit] {
  padding: 1.25rem;
  font-size: 1.87em;
  margin: 1rem auto;
  background-color: lightcoral;
  border: 0px;
  border-radius: 5px;
}